@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="text/javascript">
        if (window.WebSocket) {
            var s = new WebSocket("ws://127.0.0.1:80/home/Connection");
            s.onopen = function (e) {
                console.log(e);
            }
            s.onmessage = function (e) {
                alert(e.data);
            }
            s.onerror = function (e) {
                console.log(e);
            }
        }
    </script>
</head>
<body>
    <div>
    </div>
</body>
</html>
